.logo {
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.welcome-container {
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100%;
  max-width: 305px;
  margin: auto;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(35,7,96,1) 100%);
}

.welcome-title {
  font-size: 26px;
  font-style: bold;
  text-align: center;
  margin-bottom: 10px;
}

.welcome-description {
  font-size: 16px;
  text-align: center;
  color: #C6CDD4;
}