.horoscrope-container {
  padding-top: 40px;
}

.horoscrope-img {
  display: block;
  width: 285px;
  margin: auto;
  margin-bottom: 20px;
}

.horoscrope-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 20px;
}

.horoscrope-info img {
  width: 24px;
}

.horoscrope-title {
  font-size: 20px;
  font-weight: 200;
}

.horoscrope-content {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

.horoscrope-content span {
  font-weight: bold;
}